details {
    width: 100%;
    margin: 0 auto ;
    color: #fff;
    margin-bottom: .5rem;
    border-radius: 5px;
    overflow: hidden;
  }
  
  summary, .final {
    padding: 1rem;
    display: block;
    background: linear-gradient(90deg, #0077B6 0%, #48CAE4 100%);
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
  }

  .final a:hover {
    color: pink;
  }
  
  summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
  }
  
  /* THE MAGIC 🧙‍♀️ */
  details[open] > summary:before {
    transform: rotate(90deg);
  }
  
  
  details summary::-webkit-details-marker {
    display:none;
  }
  
  details > ul {
    padding-bottom: 1rem;
    margin-bottom: 0;
  }

  .lession-items li {
    margin: 3px 0;
    border-radius: 5px;
    padding: 6px;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
  }

  .code-container {
  background: linear-gradient(135deg, #000111 0%, #000000 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
