@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Courgette&family=Montserrat:wght@300&family=Nanum+Gothic:wght@400;700&family=Noto+Serif+Lao:wght@300;400;500;700;800&family=Poppins:wght@100;200;300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');
/* styling for login part */
.auth-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.logos {
  width: 10rem;
  height: 6rem;
  margin: 0 auto;
}

.form-holder {
  background-image: url('../img/formBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-cont input, .btn  {
  padding: 0.8rem;
  width: 60%;
}

.core {
  padding: 5rem 0;
}

.line {
  text-decoration: underline;
  color: blue;
}
